<%= form_for(answer) do |f| %>

    <%= f.hidden_field :plus %>
    <%= f.hidden_field :topic_id %>

    <div class="row">
      <div class="col-lg-12">
        <div class="input-group answers">
          <%= f.text_area :content,required: true ,:class => 'form-control' %>
      <span class="input-group-btn ">
        <button class="btn btn-primary pl" ><%=icon 'plus-square', '2px'%></button>
      </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->

<% end %>
