<%= form_for @topic, :html => { :class => "form-horizontal topic" } do |f| %>
    <div class="input-group">
      <%= f.text_area :content, :class => 'form-control' %>
      <span class="input-group-btn">
     <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
       <%=icon 'plus-square'%>
     <% end %>
   </span>
    </div>
<% end %>
<%= form_for(answer) do |f| %>
    <%= f.hidden_field :plus %>
    <%= f.hidden_field :topic_id %>
    <div class="input-group">
      <%= f.text_area :content, :class => 'form-control' %>
      <button class="btn btn-primary answers" type="submit" name="button">
        <%=icon 'plus-square'%>
      </button>





    </div>
<% end %>
